<div class="bg-light" style="margin-bottom: 1.5em;">

    <nav class="navbar bg-light  navbar-expand-lg navbar-light fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="/">

                <% if(session.user){ %>
                <img src="<%= session.user.Avatar %>" width="30" height="30"
                     class="d-inline-block card-img-top rounded-circle small-rounded-img d-none d-block d-sm-none">
                <img src="images/company/logo.jpg" width="30" height="30" class="d-none d-md-block ">
                <% }else{ %>
                <img src="images/company/logo.jpg" width="30" height="30" class="d-inline-block">
                <% } %>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active d-none d-md-block">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <% if(session.user){ %>
                    <li class="nav-item active d-none d-block d-sm-none">
                        <div class="d-flex ">
                            <div class="col-6">
                                <a class=" nav-link d-none d-block d-sm-none" href="/">Home <span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col-6">
                                <a class="nav-link d-none d-block d-sm-none" href="/postanAdvert">Advertise <span
                                            class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active d-none d-block d-sm-none float-right">
                        <div class="d-flex ">
                            <div class="col-6">
                                <a class="nav-link d-none d-block d-sm-none" href="/userprofile">My Posts<span
                                            class="sr-only">(current)</span></a>
                            </div>
                            <div class="col-6">
                                <a class="nav-link d-none d-block d-sm-none" href="/logout">Logout<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active d-none d-block d-sm-none float-right">
                        <div class="d-flex ">
                            <div class="col-6">
                                <a class="nav-link d-none d-block d-sm-none" href="/userprofile/userinfo">My
                                    Profile<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col-6">
                                <a class="nav-link d-none d-block d-sm-none" href="/logout">Logout<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>

                    <% }else{ %>
                    <li class="nav-item active d-none d-block d-sm-none">
                        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active d-none d-block d-sm-none">
                        <a class="nav-link" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
                    </li>
                    <% } %>

                </ul>
                <div class="nav-item d-none d-md-block">
                    <% if(session.user){ %>
                    <a href="/messages"><i class="fas fa-envelope"></i></a>
                    <% }else { %>
                    <a class="btn btn-secondary mr-2" href="/login">Post an ad for free</a>
                    <% } %>
                </div>

                <% if(session.user){ %>
                <div class="nav-item dropdown ml-2 d-none d-md-block">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img class="card-img-top rounded-circle small-rounded-img" src="<%= session.user.Avatar %>"
                             alt="img">
                        <%= session.user.ProfileName %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" tabindex="-1"
                         style="border-top: none;border-radius: 0em;">
                        <a class="dropdown-item" href="/postanAdvert">Post an ad for free</a>
                        <a class="dropdown-item" href="/userprofile">My account</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
                <% }else { %>
                <div class="nav-item d-none d-md-block">
                    <i class="fas fa-user ml-1"></i><a class="nav-item ml-1" href="/login">login / Signup </a>
                </div>
                <% } %>

            </div>
        </div>
        <div id="loadingspinner">
        </div>
    </nav>

</div>


<main class="" style="top:3em;position: relative">
    <div class="container">