<div class="bg-light" style="margin-bottom: 1.5em;">

    <nav class="navbar bg-light  navbar-expand-lg navbar-light fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="images/company/logo.jpg" width="30" height="30" class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                </ul>
                <div class="nav-item">
                    <% if(session.user){ %>
                    <a class="btn btn-secondary mr-2" href="/postanAdvert">Post an ad for free</a>
                    <% }else { %>
                    <a class="btn btn-secondary mr-2" href="/login">Post an ad for free</a>
                    <% } %>
                </div>

                <% if(session.user){ %>
                <div class="nav-item dropdown ml-2">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Action
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" tabindex="-1"
                         style="border-top: none;border-radius: 0em;">

                        <a class="dropdown-item" href="/login">Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
                <% }else { %>
                <div class="nav-item">
                    <i class="fas fa-user ml-1"></i><a class="nav-item ml-1" href="/login">login / Signup </a>
                </div>
                <% } %>

            </div>
        </div>
    </nav>

</div>


<main class="" style="top:3em;position: relative">
    <div class="container">