<div class="modal fade" id="update_property_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Property</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/propertyupdate" method="post">
                    <input type="text" id="modal_property_id" name="property_id" hidden></input>
                    <input type="text" name="latitude" id="hidden_latitude" hidden></input>
                    <input type="text" name="longitude" id="hidden_longitude" hidden></input>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="modal_property_type">Property Category</label>
                            <select name="property_type" class="form-control" id="modal_property_type">
                                <%if(categorylist){%>
                                <%categorylist.forEach((category)=>{%>
                                <option value="<%=category.Name%>"><%=category.Name%></option>
                                <%});%>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Payment </label>
                            <select class="form-control" name="property_paymentmode" id="modal_property_paymantmode">
                                <option value="Day">Daily rent</option>
                                <option value="Month">Monthly rent</option>
                                <option value="sale">Sale</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modal_property_price">Charges </label>
                            <input type="text" class="form-control" name="property_price" id="modal_property_price"></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modal_property_points">Points</label>
                            <input type="number" name="property_points" class="form-control" id="modal_property_points"></input>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="accordion " id="modal_property_address">
                                <input class="form-control" type="text" name="property_address" id="modal_property_address-1" value="" data-target="#property_address" aria-expanded="true" aria-controls="property_address" data-toggle="collapse" />
                                <div id="property_address" class="collapse" aria-labelledby="modal_property_address-1" data-parent="#modal_property_address">
                                    <div id="address_map" style="min-width: 15em;min-height: 15em;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_description">Description</label>
                        <textarea name="description" class="form-control" id="modal_description">
                        </textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

