@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

.sideselection {
    width: 12rem;
    margin-bottom: 1em;
}

.property-card {
    width: 9.3em !important;
    max-height: 25em !important;
    /*padding: 1em;*/
    /*margin: 1em;*/

}


.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}



body {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}
.rating-style{
    font-size: 7px;
}
.rating-style-full{
    color: #28a745;
}
.rating-style-half{
    color: #28a745;
}
.rating-style-empty{
    color: #000000;
}
.small-rounded-img{
    max-height: 2em;
    max-width:2em;
}
.small-uploaded-img{
    height: 3em;
    width: 3em;
    margin-bottom: 1px!important;
    margin-right: 2px!important;
    border-radius: 0px!important;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

@media (max-width: 978px) {
    .container {
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
