<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emlak housing</title>
    <style>

        @media (max-width: 978px) {
            .container {
                padding: 0;
                margin: 0;
            }

            body {
                padding: 0;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;

            }

            .card {
                width: 10em !important;
                max-height: 25em !important;

            }

            .card img {
                max-height: 12rem !important;
            }

            .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="css/login.css"/>
    <script type="text/javascript"
            src="http://gc.kis.v2.scr.kaspersky-labs.com/D118233A-0464-104D-B19D-D667C557E635/main.js"
            charset="UTF-8"></script>
    <link rel="stylesheet" crossorigin="anonymous"
          href="http://gc.kis.v2.scr.kaspersky-labs.com/09786EF9-805F-054D-9BC2-E9195C12BAE0/abn/main.css"/>
</head>
<body>
<header>
    <div class="bg-light fixed-top " style="margin-bottom: 1.5em;">
        <div class="">
            <nav class="navbar container navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/">
                    <img src="images/company/logo.jpg" width="30" height="30" class="d-inline-block">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Action
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" tabindex="-1">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/signup">Signup</a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<main class="sticky-top" style="top:5em;">
    <div class="container">

        <div class="row justify-content-center">

            <div class=" col-10 col-md-5  input-group mb-3">
                <input type="text" class="form-control" placeholder="Search property" aria-label=""
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                class="fas fa-search"></i></button>
                </div>
            </div>

        </div>


        <div class="row">
            <div class=" col-4 col-md-2">
                <div class="card" style="width: 12rem; margin-bottom: 1em;">
                    <ul class="list-group list-group-flush">
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                    </ul>
                </div>

                <div class="card" style="width: 12rem; margin-bottom: 1em;">
                    <ul class="list-group list-group-flush">
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                    </ul>
                </div>

                <div class="card" style="width: 12rem; margin-bottom: 1em;">
                    <ul class="list-group list-group-flush">
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>

                    </ul>
                </div>


            </div>
            <div class="col-8 col-md-10">
                <div class="container">

                    <div class="row" style="margin-bottom: 2em;">

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-bottom: 2em;">

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-bottom: 2em;">

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-bottom: 2em;">

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top " src="images/company/logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</main>
<footer>
    <div class=" bg-primary  " style="margin-top: 2em;">
        <div class="container">
            <h1>welcome to tomorrow land</h1>
        </div>

    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

</body>
</html>