<div class="col-0  col-sm-2 col-md-3 col-lg-3 col-xl-2">


    <div class="card sideselection d-none d-md-block ">
        <ul class="list-group list-group-flush">
            <% if(categorytypelist) { %>
            <% categorytypelist.forEach(function(categorytype){%>
            <a href="/login" class="list-group-item d-flex justify-content-between align-items-center">
                <%= categorytype.Name%>
                <% var name%>
                <% if(categorytype.Name.split(" ").length>0){%>
                <% name = categorytype.Name.split(" ").join("_")%>
                <%}else{%>
                <% name = categorytype.Name %>
                <%}%>
                <span class="badge badge-primary badge-pill"><%= propertycount[name]%></span>
            </a>
            <%})%>
            <%}%>
        </ul>
    </div>


    <!--<div class="card" style="width: 12rem; margin-bottom: 1em;">-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<a  href="/login" class="list-group-item d-flex justify-content-between align-items-center">-->
    <!--Apartment-->
    <!--<span class="badge badge-primary badge-pill">14</span>-->
    <!--</a>-->

    <!--<a  href="/login" class="list-group-item d-flex justify-content-between align-items-center">-->
    <!--Apartment-->
    <!--<span class="badge badge-primary badge-pill">14</span>-->
    <!--</a>-->
    <!--<a  href="/login" class="list-group-item d-flex justify-content-between align-items-center">-->
    <!--Apartment-->
    <!--<span class="badge badge-primary badge-pill">14</span>-->
    <!--</a>-->
    <!--<a  href="/login" class="list-group-item d-flex justify-content-between align-items-center">-->
    <!--Apartment-->
    <!--<span class="badge badge-primary badge-pill">14</span>-->
    <!--</a>-->

    <!--</ul>-->
    <!--</div>-->


</div>